body{
    box-sizing: content-box;
    background-color: darkkhaki;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10vw
}
a.box{
    width: 60vw;
    height: 40vw;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px black;
    position: relative;
}
.box img {
    object-fit:contain;
    width: 60vw;
    height: 40vw;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.box{
    border: 1px solid black;
    width: 30vw;
    height: 20vw;
}